<%- include('template/header', {tituloweb: 'Inicio EJS'}); %>

<div class="container" style="padding-top: 25px;">
  <h3>escanea el QR</h3>
</div>

  <div class="container" style="padding-top: 25px;">
    <img src="<%=image_data%>">
  </div> 
<%- include('template/footer'); %>